.work-section__item {
    position: relative;
    width: 370px;
    height: 294px;
    background-color: var(--title-text-color);
}

.work-section__img {
    background-color: var(--title-text-color);
}

.work-section__list {
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.work-section__article {
    position: absolute;
    display: flex;
    width: 370px;
    height: 70px;
    bottom: 0%;
    left: 50%;
    justify-content: center;
    align-items: center;
    transform: translate(-50%);
    background: rgba(47, 48, 58, 0.8);
}

.work-section__article--computer {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--white-color);
    /* margin: 27px 107px; */
}
.team-section {
    height: 708px;
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--background-teams-color);
}

.team-section__list {
    display: flex;
    gap: 30px;
}

.team-section__item {
    box-sizing: border-box;
    width: 270px;
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-section__employee {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 10px;
}

.team-section__title {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.team-section__position {
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 20px;
    color: var(--paragraf-color);
}
.contacts-footer {
    display: block;
}

.button-style-container {
    display: flex;
    margin-bottom: 50px;

    justify-content: center;
    gap: 8px;
    padding: 0 auto;
}

.link-projects-box {
    display: block;
    position: relative;

    width: 370px;
    border: 1px solid var(--border-proects);
    text-decoration: none;
    transition-property: box-shadow;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-projects-box:hover,
.link-projects-box:focus {
    border: 1px solid #eeeeee;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.ul-projects-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    gap: 30px;
}

.projects-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
    margin-bottom: 4px;
}

.projects-paragraf {
    font-size: 16px;
    line-height: 1.9;

    color: var(--paragraf-color);
}

.title-paragraph-projects {
    padding: 20px 24px;
}

.nav__icon {
    justify-content: center;
    width: 16px;
    height: 12px;
    fill: currentColor;
    margin-right: 10px;
    margin-bottom: 2px;
    transition-property: var(--background-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__icon:hover {
    fill: var(--background-color);
}

.main-section {
    max-width: 1600px;
    height: 600px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/fone-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



/* team icon ----------------------------------------------  */
.team-section__social--list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.team-section__social--item {
    width: 44px;
    height: 44px;
}

.team-section__icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.team-section__link:hover,
.team-section__link:focus {
    background-color: #2196f3;
    color: var(--white-color);
}

.team-section__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    text-decoration: none;
    color: #afb1b8;
    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.sections-title {
    line-height: 1.17;
    font-size: 36px;
    color: var(--primary-text-color);
    margin-bottom: 50px;
    text-align: center;
}

.name-list {
    background: var(--white-color);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

/* Company--------------------------------- */
.section-company {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.company-section__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    color: var(--primary-text-color);
}

.company-section__list {
    width: 170px;
    height: 92px;
}

.company-section__link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #afb1b8;
    text-decoration: none;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.company-section__link:hover,
.company-section__link:focus {
    color: var(--background-color);
    border-color: var(--background-color);
}

.company-section__icon {
    width: 106px;
    height: 60px;
    fill: currentColor;
}
.overlay-tekhno {
    position: relative;
    overflow: hidden;
}

.overlay-projects-action {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    bottom: 0%;
    left: 0;
    align-items: center;
    justify-content: center;
    background: rgba(33, 150, 243, 0.9);
    opacity: 0;
    transform: translatey(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.articl-projects {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: var(--white-color);
    padding-left: 24px;
    padding-right: 24px;
}

.projects-box:hover .overlay-projects-action,
.projects-box:focus .overlay-projects-action {
    transform: translateY(0);
    opacity: 1;
}
.navi-container {
    display: flex;
    gap: 50px;
}

.header-contacts__link {
    display: inline-flex;
    align-items: center;
    gap: 50px;
}

.header-menu__box {
    display: flex;
    justify-content: space-between;
}

.navi-header {
    align-items: center;
    display: flex;
}

.work-section {
    padding-top: 0;
}

.main-section {
    text-align: center;
}

.benefits-list {
    width: 270px;
}

.benefits-box {
    display: flex;
    height: 248px;
    justify-content: space-between;
    gap: 30px;
}
.benefits-title {
    font-size: 14px;
    line-height: 1.14;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.benefits-text {
    font-weight: 400;
    line-height: 1.71;
    color: var(--paragraf-color);
    text-align: left;
}
.benefits-box__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    content: "";
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--background-teams-color);
}

.benefits-icon {
    width: 70px;
    height: 70px;
}